@use 'sass:color';
@use 'variables' as *;

#characters-list {
  padding: 2rem 2rem 7rem 2rem;

  > *:first-child .characters > *:first-child {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    justify-self: center;
  }
}

.characters-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;

  h2 {
    font-size: 1.2rem;
    margin: 3rem auto 1.5rem auto;
  }

  .characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .image {
      position: relative;

      p {
        color: $white;
        text-shadow: 0 0 5px black;

        position: absolute;
        z-index: 1;
        top: 4.5rem;
        right: 1rem;
      }

      img {
        width: 20rem;
        border-radius: 7px;
        filter: grayscale(90%);

        &:hover {
          filter: grayscale(0%);
          transition: filter 0.5s ease-in-out;
        }
      }
    }

    @media (max-width: $breakpoint-md) {
      display: block;

      img {
        width: 100%;
      }
    }
  }
}
