@use 'sass:color';


div#error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

div#error-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
