@use 'sass:color';
@use 'variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GowunDodum';
  src: url('/fonts/GowunDodum-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Eulyoo1945-SemiBold';
  src: url('/fonts/Eulyoo1945-SemiBold.woff') format('truetype');
}

:root {
  --background: #{$maintheme};
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;

  color: var(--foreground);
  background: var(--background);
  font-family: GowunDodum, Arial, Helvetica, sans-serif;
}

div#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 2rem 1rem;

  @media (width >= 768px) {
    max-width: 850px;
  }
}

div#container>header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2.3rem 0;
}

div#container>header>div#title {
  color: color.adjust($maintheme, $lightness: -55%);
  font-size: 2.7rem;
  font-family: Eulyoo1945-SemiBold, Arial, Helvetica, sans-serif;
}

div#container>main {
  display: flex;
  flex-direction: column;
}

div#container>main>div#content {
  background: $subtheme;
  border-radius: 1.7rem;
  min-height: max-content;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: color.adjust($maintheme, $lightness: -60%);
}

main {
  min-width: 100%;
  @media (width >= 768px) {
    min-width: 755px;
  }
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  background: var(--background);
  color: color.adjust($maintheme, $lightness: -50%);
  font-size: 0.6rem;
}
