@use 'sass:color';
@use 'variables' as *;

:root {
  --text-color: #{rgba(red($light-text), green($light-text), blue($light-text), 0.7)};
}

[data-theme='dark'] {
  --text-color: #{rgba(red($dark-text), green($dark-text), blue($dark-text), 0.7)};
}

div#content {
  display: flex;
  justify-content: center;
  height: 60vh;
}

div#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  div.main-content {
    position: relative;
    top: 35%;
    left: 10%;
    color: var(--text-color);
  }

  h1 {
    position: relative;
    top: 17%;
    color: var(--text-color);
  }
}
