@use 'sass:color';
@use 'variables' as *;

div#content {
  display: flex;
  justify-content: center;
  height: 60vh;
}

div#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  div {
    position: relative;
    top: 35%;
    left: 10%;
    color: rgba(red($light-text), green($light-text), blue($light-text), 0.3);
  }

  h1 {
    position: relative;
    top: 17%;
    color: rgba(red($light-text), green($light-text), blue($light-text), 0.7);
  }
}
