@use 'sass:color';

$maintheme: #bedbbb;
$subtheme: hsla(56, 79%, 96%, 0.9);

$white: #fff;

$light-bg: $maintheme;
$light-bg-sub: $subtheme;
$light-text: #171717;
$light-active-text: $white;

$dark-bg: #090c0a;
$dark-text: $subtheme;
$dark-bg-sub: #313830;
$dark-active-text: $dark-text;

$breakpoint-md: 768px;
