@use 'sass:color';
@use 'variables' as *;

.links-header {
}

.links-body {
}

.links-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: darken($maintheme, 90%);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.links-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.links-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-end-start-radius: 1rem;
  border-start-end-radius: 1rem;
  background: color.adjust($maintheme, $lightness: -10%);
  color: color.adjust($maintheme, $lightness: 90%);
  font-size: 0.85rem;
}

.links-banner img {
  border-start-end-radius: 1rem;
}
